@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(17 24 39);
  --secondary: rgb(243 244 246, 0.5);
}

@layer base {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
}

/* TODO: FIX SVG DRAW IN */
/* Custom text stroke class */
.text-stroke {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

/* Draw-in animation */
draw-animation {
  animation: draw-in 1s forwards;
}

@keyframes draw-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
